################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Seleniumcsharpnetcore/v16/TestStore/0
/.vs/Seleniumcsharpnetcore/v16
